In [143]:
import seaborn as sns

In [144]:
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [145]:
# dividing dependent and independent features

X = df.drop(labels='total_bill',axis=1)
y = df['total_bill']

In [146]:
y

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [147]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [148]:
Categorical_cols= ['sex','smoker','day','time']
Numerical_cols= ['tip','size']

In [149]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


num_pipeline = Pipeline(
    steps=[
        ('imputer', SimpleImputer(strategy='median')),
        ('scaler', StandardScaler())
        
    ]
)

cat_pipeline = Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ("OneHotEncoder", OneHotEncoder())
    ]
)

preprocessor = ColumnTransformer([
    ('num_pipleline',num_pipeline,Numerical_cols),
    ('cat_pipeline',cat_pipeline,Categorical_cols)
]
)

In [150]:
y

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [151]:
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)
from sklearn.ensemble import RandomForestRegressor

In [174]:
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.naive_bayes import MultinomialNB

In [177]:
# traning models automation
models = {
   'random forest' : RandomForestRegressor(),
   "linear regration" : LinearRegression(),
   "decision tree" : DecisionTreeRegressor(),
   "support vector machine" : SVR(),
   
}

In [180]:

def model_evaluater(X_train, X_test, y_train, y_test,models):
    report = {}
    for i in range(len(models)):
        model = list(models.values())[i]
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        score = r2_score(y_test,y_pred)
        report[list(models.keys())[i]]= score
    return report

In [181]:
model_evaluater(X_train, X_test, y_train, y_test,models)

{'random forest': 0.48642102931420983,
 'linear regration': 0.6240808714290966,
 'decision tree': 0.4718220263552574,
 'support vector machine': 0.4509552360836214}

In [165]:
model_evaluater(X_train, X_test, y_train, y_test,models)

({'random forest': 0.49100394566196537,
  'linear regration': 0.6240808714290966,
  'decision tree': 0.47378575910828236},
 array([17.78 , 13.47 , 19.77 , 31.27 , 13.   , 13.47 , 14.26 , 16.4  ,
        17.78 , 17.51 , 18.04 , 10.07 ,  9.76 , 13.47 ,  8.58 , 10.34 ,
        20.53 , 19.49 , 15.77 , 34.3  , 18.35 , 20.08 , 22.42 , 10.07 ,
        18.15 , 15.98 , 15.42 , 22.42 , 19.77 , 20.69 , 25.71 , 11.59 ,
        18.35 , 15.81 , 21.01 , 20.45 , 12.46 , 35.26 , 20.27 , 13.81 ,
        10.07 , 12.03 , 17.46 , 10.34 , 14.755, 12.9  , 26.41 , 16.04 ,
         8.52 ]))